.car-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  grid-gap: 16px;;
}

.rental-form {
  width: 25vw;
}
.confirmation-container {
  padding: 50px;
}

.sticky {
  position: sticky;
  top: 100px;
}
