// Specific CSS for your home-page
.container-home {
  min-height: 82vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), asset-url('home-background');
  background-size: cover;
  padding: 15%;
}

.container-home-content h1 {
  color: black;
  font-family: Arial;
  text-align: center;
}
.wrapper {
  margin: 0px 0px 64.7px 0px;
   }

.rounded-right {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.rounded-left {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}
