.container-profile {
  margin-top: 2%;
  padding: 3rem;
  width: 60vw;
  height: 70vh;
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  color: #4C4248;
}

.container-profile .col-md-5 {
  color: #4C4248;
}

.info-section {
  background-color: #d5dce0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  color: #4C4248;
}

.date-content {
  font-size: 10px;
}
