.search-bar {
  display: flex;
  padding: 0 10px;
  position: relative;
}
.search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  left: 370px;
  top: -3px;
  z-index: 1;
  &:hover {
    color: rgb(79, 150, 250);
  }
}
.search-input {
  flex: 0 1 600px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  &:focus {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 0 0.1rem rgba(119, 104, 113, 0.1);
    &::placeholder {
      color: rgb(18, 17, 19);
    }
  }

}
