<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="<% if @car.photos.attached? %>
      <%= cl_image_path @car.photos.first.key %>
      <% end %>" alt="First slide">
    </div>
    <% if @car.photos.second %>
      <div class="carousel-item">
        <img class="d-block w-100" src="<%= cl_image_path @car.photos.second.key %>" alt="Second slide">
      </div>
    <% end %>
    <% if @car.photos.last %>
      <div class="carousel-item">
        <img class="d-block w-100" src="<%= cl_image_path @car.photos.last.key %>" alt="Third slide">
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
