<div class="container text-light justify-content-center w-50">
      <h1 class="pt-4 text-center">Add a new Car</h1>

      <%= render "form", car: @car %>
  <br>
  <div class="back-to-cars">
    <%= link_to "Back to cars", cars_path, class: "btn btn-primary" %>
  </div>
</div>



